<style is:global lang="scss">
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
      max-width: 75vw;
    }
  }
</style>

<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>
      My goal with this blog is to create helpful content for front-end web
      devs, and my newsletter is no different! I'll let you know when I publish
      new content, and I'll even share exclusive newsletter-only content now and
      then.
    </p>
  </div>
</div>
